@charset "UTF-8";
body {
	font-family: "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	background-color: #BC2F44;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF;
}
header {
	width: 100%;
	height: 45px;
	background-color: #006847;
	border-bottom: 2px solid #CE1126;
}
nav {
	float: right;
	text-align: right;
}
.blogMX_title {
	list-style: none;
	color: #fff;
	font-weight: bold;
	float: left;
	margin: 0;
	letter-spacing: 4px;
}
menu, .active {
	background-color: #CE1126;
	color: #FFFFFF;
}
header nav ul {
	margin: 0;
	list-style: none;
	float: right;
}
nav ul li {
	float: left;
	color: #FFFFFF;
	font-size: 15px;
	text-align: left;
	letter-spacing: 2px;
	font-weight: bold;
}
ul li a {
	padding: 14px 16px;
	display: block;
	color: #FFFFFF;
	text-decoration: none;
	transition: color 0.3s linear, background-color 0.3s linear;
}
ul li:hover a {
	color: #CE1126;
	background-color: #FFFFFF;
}
.cover {
	background-color: #3D3D3D;
	text-align: center;
	letter-spacing: 4px;
	padding-top: 10px;
	padding-bottom: 5px;
	text-transform: uppercase;
	font-weight: bold;
}
.loggeduser {
	margin: 0;
	padding-right: 16px;
	padding-bottom: 10px;
	font-size: 15px;
	letter-spacing: normal;
	text-transform: none;
	color: #FFFFFF;
	text-align: right;
}
.cover_table{
	width: 100%;
}
.cover_img {
	margin: 0px 15px 15px 15px;
	width: 150px;
	height: 90px;
	border: 2px solid #006847;
	border-radius: 10px;
}
.cover_title {
	text-align: center;
}
.Me {
	margin-top: 0;
	color: #006847;
}
.xi {
	color: #FFFFFF;
}
.co {
	color: #CE1126;
}
.tagline {
	letter-spacing: 1px;
	text-align: center;
	color: #FFFFFF;
	text-transform: lowercase;
	font-style: italic;
}
.cover_description {
	color: #FFFFFF;
	margin-top: 0px;
}
.post {
	background-color: #FFFFFF;
	margin: 20px 20px 20px 20px;
	padding: 20px;
	border: 2px solid #006847;
}
.post_colLeft {
	width: 250px;
	vertical-align: top;
}
.post_colRight {
	width: 100%;
	vertical-align: top;
	padding-left: 20px;
	padding-right: 20px;
}
.post_table {
	table-layout: fixed;
	width: 100%;
}
.post_title {
	width: 100%;
	font-family: "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-weight: bold;
	font-size: 1.5em;
	word-wrap: break-word;
	color: #CE1126;
	text-align: left;
	letter-spacing: 2px;
	margin-top: 0px;
}
.post_author {
	margin: 0px;
	word-wrap: break-word;
	color: #3D3D3D;
	text-align: right;
	line-height: 23px;
	font-size: 15px;
	letter-spacing: 2px;
}
.post_date {
	color: #006847;
	text-align: right;
	font-size: 15px;
	letter-spacing: 2px;
}
.post_content {
	font-family: "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	display: block;
	width: 100%;
	color: #3D3D3D;
	text-align: justify;
	white-space: normal;
	line-height: 23px;
	margin: 0px;
	font-size: 15px;
}
.formbtn_table{
	width: 100%;
	text-align: center;
}
.button {
	width: 200px;
	margin-top: 20px;
	margin-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	border: 3px solid #FFFFFF;
	color: #FFFFFF;
	background-color: #BC2F44;
	transition: color 0.3s linear, background-color 0.3s linear, border-color 0.3s linear;
}
.suscribe_banner {
	background-color: #3D3D3D;
	color: #FFFFFF;
	text-align: center;
	padding: 10px;
}
.button:hover {
	background-color: #006847;
	color: #FFFFFF;
	cursor: pointer;
	border-color: #CE1126;
}
.footer {
	width: 100%;
	height: 20px;
	padding: 5px;
	background-color: #006847;
	color: #FFFFFF;
	text-transform: uppercase;
	letter-spacing: 2px;
	vertical-align: middle;
}
.copyright {
	float: left;
	text-align: right;
	margin: 0;
}
.unsubscribe_login {
	float: right;
	text-align: right;
	margin: 0;
	text-transform: lowercase;
}
.share_cell {
	text-align: right;
}
.share_submit {
	float: right;
	padding: 2px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
	background-color: #BC2F44;
	transition: color 0.3s linear, background-color 0.3s linear, border-color 0.3s linear;
}
.share_submit:hover {
	background-color: #006847;
	color: #FFFFFF;
	cursor: pointer;
	border-color: #CE1126;
}
.unsubscribe {
	float: right;
	padding: 2px;
	text-align: center;
	text-transform: lowercase;
	font-weight: bold;
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
	background-color: #BC2F44;
	transition: color 0.3s linear, background-color 0.3s linear, border-color 0.3s linear;
}
.unsubscribe:hover {
	background-color: #006847;
	color: #FFFFFF;
	cursor: pointer;
	border-color: #CE1126;
}
